---
version: "<%= version %>"
title: "KDE Plasma <%= version %>, <%= releasetype %> Release"
type: info/plasma5
signer: <%= release_dude %>
signing_fingerprint: <%= gpg_key %>
draft: true
---

This is a <%= releasetype %> release of KDE Plasma, featuring Plasma Desktop and
other essential software for your computer. Details in the
[Plasma <%= version %> announcement](/announcements/plasma-<%= version %>).
