---
title: "KDE Plasma <%= version %>, <%= releasetype %> Release for <%= releasemonth %>"
description: Today KDE releases a <%= releasetype %> update to KDE Plasma 5
date: <%= releasedateiso %>
changelog: plasma-<%= old_version %>-<%= version %>-changelog
layout: plasma
draft: true
---

{{< plasma-<%= short_version_dash %>-video >}}

<%= releasedate %>.

{{< i18n_var "Today KDE releases a <%= releasetype %> update to KDE Plasma 5, versioned %[1]s" "<%= version %>" >}}

{{< i18n_var "[Plasma %[1]s](/announcements/plasma-%[1]s.0) was released in <%= minor_release_month %> with many feature refinements and new modules to complete the desktop experience." "<%= short_version %>" >}}

This release adds <%= timesincelastrelease %> worth of new translations and fixes from KDE's contributors. The bugfixes are typically small but important and include:

FIXME
